body {
    margin: 0 auto;
}
header {
    background-color: lightgray;
    text-align: center;
    border-bottom: 4px solid orange;
}
main {
    margin: 0 15px;
}
h1, h2, h3 {
    text-transform: capitalize;
}
h2 {
    color: orange;
}
h3 {
    font-style: italic;
}
hr {
    border: 2px solid orange;
}